#balance-container {
    background: #222;
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #f1c40f;
    border: 1px solid #444;
}

.bet-input-container {
    margin-bottom: 15px;
}

#bet-amount-input {
    background: #222;
    border: 2px solid #444;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    width: 80%;
    font-size: 16px;
    text-align: center;
    outline: none;
}

#bet-amount-input:focus {
    border-color: #2ed573;
}
